body {
    scroll-behavior: smooth;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex ;
    width: 100vw;
    margin-right: 0;
    overflow-x: hidden;
}
.sidebar {
    width: 21%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(21, 21, 21);
    color: white;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
div.link:hover {
    background-color: rgb(49, 49, 50);
}
.link {
    height: 8.75%;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 2rem;
}
.sidebarbottom {
    display: none;
}
.logo {
    width: 50%;
    height: 6%;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.logo2 {
    display: none;
}
.navlogo {
    display: none;
}
.mainbar2 {
    display: none;
}
.sidebar.link {
    display: flex;
    align-items: center;
    padding: o.7rem 0;
    font-size: 1.3rem;
    margin-right:10 px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 1rem;
}
.image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.story {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom left,rgb(235, 76, 174), red, yellow);

}
.image1 {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.mainbar {
    width:100vw;
    margin-top: 2%;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content:flex-end;
}
.rightsidebar {
    width: 25%;
    height: 90vh ;
    margin-right: 0 ;
}
.toprightsidebar {
    color: #fff;
    width: 100%;
    height: 70vh ;
    padding-right: 1px;
    margin-right: 0 ;
    display: flex;
    justify-content: space-between;
    background-color:rgb(21, 21, 21);
}
.middlebar {
    margin-right:4%;
    margin-left: 0;
}
.topmiddlebar {
    width: 50vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.rightprofile {
    display: flex;
    align-items: center;
}
.image3 {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.anchor {
    text-decoration: none;
    color: rgb(12, 137, 240);
    font-weight: normal;
    padding-right: 2rem;
}
.suggestion {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.follow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer {
    text-decoration: none;
    color: grey;
    font-weight:lighter;
    padding-left: 0;
    opacity: 0.75;
}
.foter {
    color: grey;
    font-weight: lighter;
    opacity: 0.75;
}
.text1 {
    color: grey;
    opacity: 0.75;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
.middlemiddlebar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.username {
    margin-top: 1%;
}
.bottommiddlebar {
    background-color:rgb(21, 21, 21);
    width: 90%;
    margin-left: 10%;
}
.bottompart1 {
    width: 100%;
    height: 3rem;
    background-color: rgb(21, 21, 21);
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.text {
    display: flex;
    align-items: center;
}
.post {
    color: grey;
    font-weight: lighter;
    opacity: 0.75;
    padding-left: 0.5rem;
}
.postid {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom left,rgb(235, 76, 174), red, yellow);
}
.image2 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.bottompart2 {
    width: 80%;
    height: 35rem;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 10px;
    background-image: url(profile.webp);
    background-size:cover;
    background-position: center;
}
.bottompart3 {
    height: 3rem;
    width: 80%;
    background-color:rgb(21, 21, 21);
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 0;
    justify-content: space-between;
}
.like {
    margin-top: 1rem;
    height:30px;
    width: 40px;
}
.bottompart4 {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 5%;
    height: 3rem;
    width: 80%;
    background-color:rgb(21, 21, 21);
}
.bottompart5 {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 80%;
    margin: 0;
    background-color:rgb(21, 21, 21);
    justify-content: space-between;
}
.comment {
    margin-left: 5%;
    color: grey;
    margin-top:1%;
    margin-bottom:0;
}
@media (min-width:700px) and (max-width:900px)
{
    .sidebar {
        width: 7%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(21, 21, 21);
        color: white;
        padding-left: 2rem;
        border-right: 1px solid grey;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    .link {
        padding-left: 0%;
    }
    .link a {
        display:none ;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
    }
    .navlogo {
        display: none;
    }
    .rightsidebar {
        display: none;
    }
    .mainbar {
        width:100vw;
        margin-top: 2%;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        justify-content:space-around;
    }
    .topmiddlebar {
        width: 80vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-left: 3rem;
    }
    .middlemiddlebar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-left: 3rem;
    }
    .bottommiddlebar {
        padding-left: 6rem;
    }
    .image1 {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    .story {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-image: linear-gradient(to bottom left,rgb(235, 76, 174), red, yellow);
    
    }
    .bottompart1 {
        width: 80%;
    }
    .bottompart2 {
        width: 60%;
        height: 35rem;
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 10px;
    }
    .bottompart3 {
        width: 60%;
    }
    .bottompart4 {
        width: 60%;
    }
    .bottompart5 {
        width: 60%;
        padding-left: 1rem;
    }
}
@media screen and (max-width:700px)
{
    .sidebar {
        display: none;
    }
    .mainbar2 {
        display: block;
        position: fixed;
        display: flex;
        justify-content: space-around;
        top: 0;
        left: 0;
        height: 3rem;
        width: 100%;
        background-color:rgb(21, 21, 21);
        padding-top: 2%;
        border-top: 1 px solid grey;
    }
    .search {
        background-color:rgb(55, 54, 54);
        width: 250px;
        border-radius: 10px;
        padding-left: 1%;
        margin: 0;
        height: 2rem;
        display: flex;
        align-items: center;
        color: rgb(146, 144, 144);
        margin-left: 15%;
    }
    .search-input {
        background-color:rgb(55, 54, 54);
        border: 0;
        color: white;
        border-radius: 5px;
        width: 200px;
        height: 1.5rem;
    }
    .navlogo {
        display: block;
        width: 15%;
        height: 50%;
        padding-top: 0.5rem;
    }
    .sidebarbottom {
        display: block;
        position: fixed;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        height: 2rem;
        width: 100%;
        background-color:rgb(21, 21, 21);
        padding-top: 3%;
        border-top: 1 px solid grey;
    }
    .link a {
        display: none;
    }
    .rightsidebar {
        display: none;
    }
    div.link:hover {
        background-color: rgb(49, 49, 50);
    }
    .link {
        height: 2rem;
        width: 5%;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .mainbar {
        width:100vw;
        margin-top: 2%;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        justify-content:space-around;
    }
    .topmiddlebar {
        width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding-top: 3rem;
    }
    .middlemiddlebar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .bottommiddlebar {
        padding-left: 1rem;
    }
    .image1 {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    .story {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-image: linear-gradient(to bottom left,rgb(235, 76, 174), red, yellow);
    
    }
    .bottompart1 {
        width: 80%;
    }
    .bottompart2 {
        width: 60%;
        height: 20rem;
        display: flex;
        align-items: center;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 10px;
    }
    .bottompart3 {
        width: 60%;
    }
    .bottompart4 {
        width: 60%;
    }
    .bottompart5 {
        width: 60%;
        padding-left: 0.5rem;
    }
    #last {
        display: none;
    }
}