body {
    scroll-behavior: smooth;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex ;
    width: 100vw;
    margin-right: 0;
    overflow-x: hidden;
}
.sidebar {
    width: 21%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(21, 21, 21);
    color: white;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
div.link:hover {
    background-color: rgb(49, 49, 50);
}
.link {
    height: 8.75%;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 2rem;
}
.sidebarbottom {
    display: none;
}
.logo {
    width: 50%;
    height: 6%;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.logo2 {
    display: none;
}
.navlogo {
    display: none;
}
.mainbar2 {
    display: none;
}
.sidebar.link {
    display: flex;
    align-items: center;
    padding: o.7rem 0;
    font-size: 1.3rem;
    margin-right:10 px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 1rem;
}
.image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.rightbar {
    margin-left: 17rem;
}
.profile {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    width: 53rem;
}
.picture {
    background-image: url(profile.webp);
    background-size:cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.content {
    width: 400px;
}
.line1 {
    display: flex;
    justify-content: space-evenly;
}
.line1 p {
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
} 
.line1 i {
    padding-top: 0.25rem;
}
.one {
    background-color: rgb(57, 56, 56);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    padding-left: 0.75rem;
    display: flex;
    align-items: center;
}
div.one:hover {
    background-color: rgb(46, 46, 46);
}
.line2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 30px;
    padding-left: 0.75rem;
    font-size: 17px;
}
.story {
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
    width: 53rem;
    margin-left: 50px;
    gap: 50px;
}
.story1 {
    background-image: url(feed12.jpg);
    background-size:cover;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid grey;
}
.story2 {
    background-image: url(feed12.jpg);
    background-size:cover;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid grey;
}
.story3 {
    background-image: url(feed12.jpg);
    background-size:cover;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid grey;
}
.story4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid grey;
}
.storyname {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 53rem;
    margin-left: 75px;
    gap: 100px;
}
.rightbar hr {
    border-bottom: 0.01rem solid grey ;
    margin-top: 3rem;
    margin-bottom: 0;
}
.storyname p{
    margin: 0;
}
.bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 1rem;
}
#post:hover {
    opacity: 0.75;
}
#saved:hover {
    opacity: 0.75;
}
#tagged:hover {
    opacity: 0.75;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.post a{
    color: rgb(24, 94, 245);
}
.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid grey;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.footer a {
    font-weight:normal;
    color: grey;
    font-size: 12px;
}
@media (min-width:700px) and (max-width:900px)
{
    .sidebar {
        width: 7%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(21, 21, 21);
        color: white;
        padding-left: 2rem;
        border-right: 1px solid grey;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    .link {
        padding-left: 0%;
    }
    .link a {
        display:none ;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
    }
    .navlogo {
        display: none;
    }
    .rightsidebar {
        display: none;
    }
    .mainbar {
        width:100vw;
        margin-top: 2%;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        justify-content:space-around;
    }
    .rightbar {
        margin-left: 7%;
    }
}
@media screen and (max-width:700px)
{
    .sidebar {
        display: none;
    }
    .mainbar2 {
        display: block;
        position: fixed;
        display: flex;
        justify-content: space-around;
        top: 0;
        left: 0;
        height: 3rem;
        width: 100%;
        background-color:rgb(21, 21, 21);
        padding-top: 2%;
        border-top: 1 px solid grey;
    }
    .search {
        background-color:rgb(55, 54, 54);
        width: 250px;
        border-radius: 10px;
        padding-left: 1%;
        margin: 0;
        height: 2rem;
        display: flex;
        align-items: center;
        color: rgb(146, 144, 144);
        margin-left: 15%;
    }
    .search-input {
        background-color:rgb(55, 54, 54);
        border: 0;
        color: white;
        border-radius: 5px;
        width: 200px;
        height: 1.5rem;
    }
    .navlogo {
        display: block;
        width: 15%;
        height: 50%;
        padding-top: 0.5rem;
    }
    .sidebarbottom {
        display: block;
        position: fixed;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        left: 0;
        height: 2rem;
        width: 100%;
        background-color:rgb(21, 21, 21);
        padding-top: 3%;
        border-top: 1 px solid grey;
    }
    .link a {
        display: none;
    }
    .rightsidebar {
        display: none;
    }
    div.link:hover {
        background-color: rgb(49, 49, 50);
    }
    .link {
        height: 2rem;
        width: 5%;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .mainbar {
        width:100vw;
        margin-top: 2%;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        justify-content:space-around;
    }
    .rightbar {
        margin-left: 0;
    }
}